@media (min-width:1280px)
{
  .container {
     max-width: 1280px;
     margin: 0 auto;
  }
  .burger-menu{
    display: none;

  }
  .nav-menu{
    display: flex;
    gap:27px;
  }
  .feedback{

    display: flex;
    gap:10px;
    
  }
  .feedback_telephone{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
     margin-left: 50px;
    
    
    
  }
  .telephone{

    font-size: 24px;
    font-weight: bolder;
  }
  .schedule{

    font-size:12px;
    margin-left: auto;
  }
  .call-back-small-button{
    display: none;
  }
  .all{

    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main  logo"
                         "main  logo"
                         "bottom  logo"
                    }
.bigImage{

  display: grid;
  grid-area: logo; 
  width: auto;
  height: auto;
  position: sticky;
  max-width: 855px;
 
} 
.development{
  font-size: 36px;
}
.info{
  font-size: 16px;
  width: 600px;
}
.last-info{
  font-size: 14px;;
}
.button2{
  margin-top: 90px;
}
.nav-menu:hover{
  color: rgb(107, 90, 249);
}
.call-back-button_but:hover{
  background-color: rgb(48, 39, 126);
}
}

