body{
padding: 0;
height:auto;
width: auto;
  
  font-family: "Montserrat", sans-serif ;
  color: rgb(42, 35, 103);
}
.container{

  max-width: 1280px;
  margin: 0 auto;
}
.navigation{
    display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  gap:0px;

}
.telephoneSch{

  margin:0;

}
.navigation-list{
    display: flex;
    justify-content: space-between;
    width: 382px auto;
    height: 17px;
    

}
.navigation-item:hover{
    margin-right:27px;
    color: rgb(107, 90, 249);
   

}
 .navigation-item{
    font-weight: 700px;
    font-size: 14px;
    margin-right:27px;
 }
 
 .telephone{
width: 233px;
height: 29px;
font-size: 24px;
font-weight: 800px;
display: flex;
justify-content:flex-end;
 }
 
 .schedule{
  display: flex;
    width: 170x;
    height: 15px;
    font-size: 12px;
    font-weight: 700px;
    justify-content:flex-end;
    
 }

 .telephoneSch{

  align-items:flex-end;
  

 }
 .telephoneSch:hover{

 
  color: rgb(107, 90, 249);

 }
.button1{
font-family: "Montserrat", sans-serif;
width:177px;
height:60px;
color:white;
background: rgb(107, 90, 249);;
border-width: 0px;
border-radius: 5px;
font-size: 12px;
}
.button2{
    font-family: "Montserrat", sans-serif;
    width:275px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    
    margin-top: 140px;
    font-size: 12px;
    }
   
   .button1:hover {

      background-color: rgb(42, 35, 103);
    }
    .button2:hover {

      background-color: rgb(42, 35, 103);
    }

.tittle{
width: 653px;
height: 88px;

font-size: 36px;

}
.info{
    
    width: 619px;
    height: 40px;
    font-size: 16px;
}


.last-info{

    display: flex;
    width: 472px;
    height: 77px;
    font-size: 14px;
    align-content:flex-end;
    margin:0;
    
}



.all{

    display: grid;
    grid-template-columns: 600px 300px auto;
    grid-template-areas: "main logo logo"
                         "main logo logo"
                         "main logo logo"
                    }
.background{

  display: grid;
  grid-area: logo; 
  margin-bottom: 50px;
  width: 855px;
  height: 569px;
    
} 
.hui{

  color: rgb(107, 90, 249);;

}
.kolonka{
display:flex;
gap:15px;
justify-content:flex-end;

}
@media (max-width:768px) {
.container{
width: 70%;
}
.navigation-list{

  display: none;
}
.tg{
display: none;

}
.wats{
  display: none;
  
  }
.kolonka{

  display: none;
}
.navigation{
width: auto;
}

}
  
