body{
    padding: 0;

    font-family: "Montserrat", sans-serif ;
    color: rgb(42, 35, 103);
    margin: 0;
    
}

main{
  margin: 0;
  padding: 0;
}

.container{
  position: relative;
  margin: 10px;
}

  .first-info__title_violet{

    color: rgb(107, 90, 249);
  
  }
  .main-info__info_violet{
    color: rgb(107, 90, 249);
  }
  .footer-text_last-info_violet{
    color: rgb(107, 90, 249);
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .call-back-button_but{

    font-family: "Montserrat", sans-serif;
    width:177px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
  }
  .call-back-small-button_but{
    font-family: "Montserrat", sans-serif;
    width:62px;
    height:38px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
  }
  .header-container__burger-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .header-container__burger-menu_move{
    display: grid;
    gap:3px;
    
  }

  .header-container__burger-menu{
    display: none;
  }


  /* move menu*/

  .move-menu{
    display: none;
    height: 100vh;
    position: fixed;
    left: 0px;
    top:80px;
    min-width: 359px;
    max-width: 365px;
    background-color: #ffffff;
    margin:0px auto;
    animation-duration: 0.5s;
    animation-name: move-menuSlide;
    animation-duration: 0.5s;
    z-index: 2;
    overflow: hidden;
    
  }
  @keyframes move-menuSlide {
    from {transform: translateX(-100%);}
  to {transform: translateX(0);}
  }

  .move-menu__x{
    position: absolute;
    cursor: pointer;
    width: 21px;
    height: 18px;
    margin-top: 10px;
    margin-left: 320px;
    border: none;
    font: inherit;
    background-color: #ffffff;
    
  }
  .move-menu__up{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-size: 14px;
    font-weight: bolder;
    
  }
  .move-menu__down{
    
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 200px;
    gap: 30px;
    font-size: 18px;
    color: rgb(107, 90, 249);
    font-weight: bolder;
  }






  a:hover{
    color: rgb(107, 90, 249);
    cursor: pointer;
  }
  .call-back-button_but:hover{
    background-color: rgb(48, 39, 126);
    cursor: pointer;
  }
article, aside , section{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.first-info_title{

  font-size: 32px;
}

.footer-text_button2:hover{
  background-color: rgb(48, 39, 126);
    cursor: pointer;


}


  .button1{
    font-family: "Montserrat", sans-serif;
    width:177px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
    }
    .footer-text_button2{
        font-family: "Montserrat", sans-serif;
        width:275px;
        height:60px;
        color:white;
        background: rgb(107, 90, 249);;
        border-width: 0px;
        border-radius: 5px;
        font-size: 12px;
    }
    .button1:hover {

        background-color: rgb(42, 35, 103);
      }
      .button2:hover {
  
        background-color: rgb(42, 35, 103);
      }






/* maket4 */ 







.top__text{

  
  margin-top: 100px;
  font-size: 25px;
  font-weight: bolder;

  text-align: left;
}
.top__text_violet{
  color: rgb(107, 90, 249);
}
.cards{
margin-top: 60px;
display: flex;
flex-wrap: wrap;
gap:40px;
justify-content: center;
padding:10px 0;
max-height: 700px;
-webkit-transition:  1s;
-o-transition:  1s;
-moz-transition:  1s;
transition: max-height 1s ease-in-out;
overflow: hidden;
}




.cards.cardsHeight{

  max-height: 220px;
  overflow: hidden;
  
  }


.cards__slide{
  
  height: 200px;
  width: 373px;
  padding-left:20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
  box-shadow: 0px 0px 10px 0 #596672;
}
.cards__slide_number{
  font-size: 60px;
  font-weight: bold;
  color: #f8f8f8;
  text-shadow:  0px 5px 8px #7c7c7c;
}
.cards__slide_top-info{
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 0px rgba(206, 51, 51, 0.925);
  padding-bottom: 5px;
  width: 210px;
}
.cards__slide_bottom-info{
  font-size: 13px;
  width: 350px;
  
}


.footerMenu_call-back{
    font-family: "Montserrat", sans-serif;
    width:275px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
}


.footerMenu{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:20px;
}

button{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.rotate {
  transform: rotate(180deg);
}
.footerMenu_arrow{
  transition: transform 0.5s ease-in-out;
}



  .swiper.cardsHeight{
  
    max-height: 220px;
    overflow: hidden;
    
    }
  
  

  .swiper-slide_number{
    font-size: 60px;
    font-weight: bold;
    color: #f8f8f8;
    text-shadow:  0px 5px 8px #7c7c7c;
  }
  .swiper-slide_top-info{
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 0px rgba(206, 51, 51, 0.925);
    padding-bottom: 5px;
    width: 210px;
  }
  .swiper-slide_bottom-info{
    font-size: 13px;
    width: auto;
    
  }
.cards-swiper{

padding: 5px;
margin: 7px;

border-radius: 10px;
min-height: 200px;
  display: flex;
  flex-direction: column;
  gap:10px;
  box-shadow: 0px 0px 10px 0 #596672;
}
  
.swiper .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #8c9797;
  
  }
.swiper .swiper-pagination {
    position:  relative !important;
    margin-top: 25px !important;
    padding-bottom: 0 !important;
    
  }
  .swiper .swiper-pagination-bullet{
  width: 12px !important; 
    height: 12px !important;
    margin-left: 12px !important;
 }
 
.Down{
  background-color:rgb(42, 35, 103);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer{
max-width: 1160px;

}
.footer__UP_writeUs{
  font-size: 36px;
  color:white;
  font-weight: bold;
  grid-area: left;
}
.footer__UP_mail{
font-size: 48px;
color:rgb(107, 90, 249);
font-weight: bold;
grid-area: left-top;

}
.footer__UP_call-back-button_but{

  font-family: "Montserrat", sans-serif;
  width:341px;
  height:60px;
  color:white;
  background: rgb(107, 90, 249);;
  border-width: 0px;
  border-radius: 5px;
  font-size: 12px;
  grid-area: right-top;
  justify-self: center;
  align-self: center;
}

.footer__UP_call-back-button_but_two{
  display: none;
  font-family: "Montserrat", sans-serif;
  width:275px;
  height:60px;
  color:white;
  background: rgb(107, 90, 249);;
  border-width: 0px;
  border-radius: 5px;
  font-size: 12px;
  grid-area: right-top;
  justify-self: center;
  align-self: center;
}



.footer__UP_adress{
font-size: 14px;
color: white;
font-weight: bold;
grid-area: left;
}

.footer__UP_number{
  font-size: 14px;
  color: white;
  font-weight: bold;
  grid-area: left-down;
  }


.tgwats{
  display: flex;
  gap:20px;
  grid-area: right;
  justify-self: end;
}
.footer__feedback__tg{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tgIcon{
  position: absolute;
  z-index: 0;

}

.footer__feedback__wats{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wtIcon{
  position: absolute;
  z-index: 0;

}

.footer__UP{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left midle right"
    "left-top midle-top right-top"
    "left-through midle-through right-through"
    "left-down midle-down right-down";

    box-shadow: 0 2px 0px rgba(118, 119, 201, 0.925);
}







.footer__DOWN{
display: flex;
flex-direction: column;
align-items:center ;
gap:10px;
padding-bottom: 50px;
}

  .foooter__DOWN_info{
    font-size: 12px;
    color: #f8f8f8;

  }
  
  .foooter__DOWN_confid{
    font-size: 12px;
    color: #f8f8f8;
    text-decoration: underline;
  }

.footertwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
      "left right"
      "left-down right-down";
} 

.up__text{

  
  margin-top: 100px;
  font-size: 25px;
  font-weight: bolder;

  text-align: left;
}
.up__text_violet{
  color: rgb(107, 90, 249);
}



.doYouGet{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left right"
    "left-top right-top"
    "left-through right-through"
    "left-down right-down";
}

.list-info__points{
  font-size: 14px;
  padding-left: 22px;
}

.list-info1{
  grid-area: right;
  
}
.doYouGetPic1{
  grid-area: left;
  width: 100%;
}

.list-info2{
grid-area: left-top;
}

.doYouGetPic2{
  grid-area:right-top ;
  width: 100%;
}

.list-info3{
  grid-area: right-through;
  
}
.doYouGetPic3{
  grid-area: left-through;
  width: 100%;
}

.list-info4{
  grid-area: left-down;
}

.doYouGetPic4{
grid-area: right-down;
width: 100%;
}
.list-info__title{
  font-size: 20px;
  font-weight: bold;
color:rgb(107, 90, 249);

}
.doYouGet_call-back{
  font-family: "Montserrat", sans-serif;
  width:275px;
  height:60px;
  color:white;
  background: rgb(107, 90, 249);;
  border-width: 0px;
  border-radius: 5px;
  font-size: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}


.sertificate{
  
  margin-top: 150px;
  border-radius: 10px;
  
  height:438px;
  background-color: rgb(240, 213, 119);
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
  
}

.sertificate__inside{
position: relative;
border: 1px solid rgb(255, 255, 255);
border-radius: 10px;
width: auto;
height: 435px;
display: flex;
gap:100px;
justify-content: flex-end;
padding-right: 100px;

}
.sertificate__inside_gold-bitrix{
position: absolute;
top:10px;
left: 10px;
}

.sertificate__inside_card{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  padding-top:20px;
}
.sertificate__inside_card_sertificate-one{
  height: 327px;
  width: 231px;
}
.sertificate__inside_card_info{
  font-size: 12px;
  font-weight: bold;
}
.sertificate__inside_card_sertificate{
  font-size: 12px;
  font-weight: bold;
  color: rgb(159, 159, 159);
}








/* swiper */

.sertificate__swiper{
  
  margin-top: 150px;
  border-radius: 10px;
  height:1110px;
  background-color: rgb(240, 213, 119);
  border: 1px solid rgb(255, 255, 255);
  padding: 20px;
}

.sertificate__swiper_inside{
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  width: auto;
  height:1100px;
  display: flex;
  flex-direction: column;
  align-items:center ;
  
  
  }

  .sertificate__swiper_inside_gold-bitrix{
    padding-top: 40px;
    position: absolute;
    height: 226px;
    width: 185px;
  }

  .sertificate__swiper_inside_card{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    margin-top:300px;
    height: 669px;
    width: auto;
    gap:20px;
    padding-top: 20px;
    
  }

  .sertificate__swiper_inside_card_image{
    height: 607px;
    width: 429px;
  }

  .sertificate__swiper_inside_card_info{
    font-size: 12px;
    font-weight: bold;
  }
  .sertificate__swiper_inside_card_sertificate{
    font-size: 12px;
    font-weight: bold;
    color: rgb(159, 159, 159);
  }
 










.bussines{
  margin-top:40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "left right"
    "left-down right";
}


.bussines__title{
  font-size: 36px;
  font-weight: bold;
  grid-area: left;
}
.bussines__text{
  grid-area: left-down;
  margin-top: 40px;
  max-width: 500px;
}
.bussines__image{
  height: auto;
  width: 100%;
  grid-area: right;
}

.bussines__title_violet{
color:rgb(107, 90, 249);
}


.stage{
  font-size: 36px;
  font-weight: bold;
  grid-area: left;
  margin-bottom: 50px;
}
.stages{
  display: flex;
  flex-direction: column;
  gap:60px
}

.stages__border{
  box-shadow: 0px 0px 10px 0 #596672;
  border-radius: 10px;
  min-height: 480px;
  margin-bottom: 100px;
}

.stages__cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:100px;
  padding: 20px 70px 30px 70px;
  box-shadow:0 2px 0px rgba(243, 243, 243, 0.925)
}
.stage__cards_text{
  max-width: 945px;
  font-size: 18px;
}

.stage__cards_title{
  font-size: 29px;
  font-weight: bold;
}

.stage__cards_number_1{
  font-size: 24px;
  font-weight: bold;
  color: #f8f8f8;
}

.stage__cards_number{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 53px;
  min-width: 53px;
  border-radius: 50%;
  background-color: rgb(67, 205, 147)
}

.stage__cards_info{
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 20px 70px 70px 70px;
}

.stage__cards_image_tablet-mobile{
  display: none;
}






.company{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  width: 100%;
}


.company__millenium1{
  position: relative;
  background-color: rgb(244, 248, 255);
  width: 100%;
  height: 738px;
  border-radius: 10px;
  padding: 40px 90px 90px 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
      "left right"
      "left right";

}
.company__millenium{
  grid-area: left;
}
.company__millenium_callbackMenu{
  grid-area: right;
}

.company__millenium_title{
  font-size: 36px;
  font-weight: bolder;
}

.company__millenium_title_mobile{
  font-size: 36px;
  font-weight: bolder;
  display: none;
}

.company__millenium_text{
  font-size: 18px;
  max-width: 410px ;
}
.company__millenium_callbackMenu_border{
  max-width: 472px;
  max-height: 486px;
  background-color: rgb(107, 90, 249);
  border-radius: 20px;
  justify-self: end;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__millenium_callbackMenu{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.company__millenium_callbackMenu_number{
  font-size: 24px;
  font-weight: bold;
  color: #f8f8f8;
  text-align: center;
}
.company__millenium_callbackMenu_info{
  color:white ;
  text-align: center;
  font-size: 12px;
}


input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
 
  color: rgba(255, 255, 255, 0.925);;
}





.company__millenium_callbackMenu_name{
  font-size: 18px;
  color:rgba(181, 179, 179, 0.925); 
  box-shadow: 0px 2px 0px rgba(181, 179, 179, 0.925);
  width: 100%;
}

.company__millenium_callbackMenu_yourNumber{
  font-size: 18px;
  color:rgba(181, 179, 179, 0.925); 
  box-shadow: 0px 2px 0px rgba(181, 179, 179, 0.925);
  width: 100%;
}

.company__millenium_callbackMenu_footerInfo{
  display: flex;
  flex-direction: row;
  gap:10px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}


input[type="checkbox"]:checked {
  background-color: rgba(181, 179, 179, 0.925); 
  border-color: rgba(181, 179, 179, 0.925); 
}

input[type="checkbox"]:checked::before {
  content: "\2713"; 
  display: block;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
}




.company__millenium_callbackMenu_footerInfo_text{
  font-size: 12.5px;
  color:rgba(181, 179, 179, 0.925); 
  
}

.company__millenium_callbackMenu_footerInfo_text_white{
  color: white;
}

.company__platonic{
  position: absolute;
  left:30%;
  top:-8%;
  
}

.company__hand{
  position: absolute;
  top:450px;
}


.company__donut{
 position: absolute; 
 left:500px;
 top:510px;
}

.company__cube{
  position: absolute;
  right:10px;
  bottom: -70px;
}

.company__cylinder{
  position: absolute;
  right:-40px;
  top:300px;
  display: none;
}
.company__millenium_callbackMenu_button{
font-family: "Montserrat", sans-serif;
    width:341px;
    height:60px;
    color:rgb(107, 90, 249);
    background: white;
    border-width: 0px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.office{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  margin-bottom: 100px;
}

.bigImage{
  width: 100%;
}

::placeholder {
color: rgba(73, 67, 67, 0.719);

font-family: Montserrat;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}


.overlay--visible {
  display: block;
 
}

.overlay--hidden {
  display: none;
}

.application-frame{
  width: 766px;
  height: 498px;
  border-radius: 10px;
  position: fixed;
  display: none;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 2;
}

.application-frame-in{
 width: 766px;
  height: 498px;  
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #fff;
} 


.application{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap:25px;
  max-width: 390px;
  position: relative;
  margin-top: 20px;
}

.application__title{
font-size: 20px;
font-weight: 700;
line-height: 24px;
}

.application__data{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  
}

.application__data_name{
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-right: auto;
}
.application__data_name_input{
  font-size: 12px;
  box-shadow: 0px 2px 0px rgba(181, 179, 179, 0.925);
  width: 100%;
  
}
.application__data_tel{
font-size: 16px;
font-weight: 500;
line-height: 20px;
margin-right: auto;
}
.application__data_tel_input{
  font-size: 12px;
  box-shadow: 0px 2px 0px rgba(181, 179, 179, 0.925);
  width: 100%;

}

.application__button{
font-family: "Montserrat", sans-serif;
width:390px;
height:60px;
color:white;
background: rgb(107, 90, 249);;
border-width: 0px;
border-radius: 5px;
font-size: 12px;
}

.application__down-text{
font-size: 10px;
font-weight: 500;
line-height: 12px;
}


.application__image{
position: relative;
width: 213px;
height: 94px;
border-radius: 10px;
background: linear-gradient(61.08deg, rgb(107, 90, 249) -24.181%,rgb(174, 164, 254) 112.68%);
display: flex;
align-items: center;
justify-content: center;
}
.application__image_lock{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left:210px;
  bottom:90px;
}
.application__image_lock_circle-grey{
  z-index: 2;
  position: absolute;
}
.application__image_lock_circle-white{
  z-index: 1;
  position: absolute;
}
.application__image_lock_padlock{
  z-index: 3;
  position: absolute;
}

.application__x{
  position: absolute;
 
  left:140%;
  border: none;
  font: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transform: translate(-50%, -50%);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px); 
  z-index: 1;
}

.overlayMove {
  
  position: fixed;
  top: 80px;
  left: 0;
  
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px); 
  z-index: 1;
  
}

.overlayMove--visible {
  display: block;
 
}

.overlayMove--hidden {
  display: none;
}

div.swiper{
  z-index: 0;
}
div.swiper-pagination{
  z-index: 0 
}

div.swiper2{
  z-index: 0;
  position: relative;
}