body{
    padding: 0;
    
      
      font-family: "Montserrat", sans-serif ;
      color: rgb(42, 35, 103);
}

  .first-info__title_violet{

    color: rgb(107, 90, 249);
  
  }
  .main-info__info_violet{
    color: rgb(107, 90, 249);
  }
  .footer-text_last-info_violet{
    color: rgb(107, 90, 249);
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .call-back-button_but{

    font-family: "Montserrat", sans-serif;
    width:177px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
  }
  .call-back-small-button_but{
    font-family: "Montserrat", sans-serif;
    width:62px;
    height:38px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
  }
  .header-container__burger-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a:hover{
    color: rgb(107, 90, 249);
    cursor: pointer;
  }
  .call-back-button_but:hover{
    background-color: rgb(48, 39, 126);
    cursor: pointer;
  }
article, aside , section{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.first-info_title{

  font-size: 32px;
}

.footer-text_button2:hover{
  background-color: rgb(48, 39, 126);
    cursor: pointer;


}























  .button1{
    font-family: "Montserrat", sans-serif;
    width:177px;
    height:60px;
    color:white;
    background: rgb(107, 90, 249);;
    border-width: 0px;
    border-radius: 5px;
    font-size: 12px;
    }
    .footer-text_button2{
        font-family: "Montserrat", sans-serif;
        width:275px;
        height:60px;
        color:white;
        background: rgb(107, 90, 249);;
        border-width: 0px;
        border-radius: 5px;
        font-size: 12px;
    }
    .button1:hover {

        background-color: rgb(42, 35, 103);
      }
      .button2:hover {
  
        background-color: rgb(42, 35, 103);
      }