@media (min-width: 769px) and  (max-width:1279px)
  {
    .container {
        
    }
    .burger-menu{
      display: grid;
        grid-template-areas: 1fr 1fr 1fr;
        gap:3px;
    }
    .call-back-small-button_but:hover{
      background-color: rgb(48, 39, 126);
    }
    .feedback {
        display: none;
    }
   .nav-menu {
        display: none;
   }
   .call-back-button{
    display: none;
   }
   .all{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "title title title"
                         "main logo logo"
                         "main logo logo";
}
.bigImage{
  display: grid;
  grid-area: logo; 
  width: 100%;
}

.title {
  grid-area: title;
}

.main-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.button2 {
  margin-top: auto;
}

.main-info {
  grid-area: main;
}
.title_br{

  display: none;
}

  }