@media (min-width: 769px) and  (max-width:1279px)
  {
    .container {
        
    }
    .header-container__burger-menu{
      display: grid;
        grid-template-areas: 1fr 1fr 1fr;
        gap:3px;
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .call-back-small-button_but:hover{
      background-color: rgb(48, 39, 126);
    }
    .call-back-small-button_but{
      cursor: pointer
    }
    .header-container__feedback {
        display: none;
    }
    .header-container__nav-menu {
        display: none;
   }
   .call-back-button{
    display: none;

   }
   .first-info{
    /*filter: blur(1px);*/
    
    
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "title title title"
                         "main logo logo"
                         "main logo logo";
}
.bigImage{
  display: grid;
  grid-area: logo; 
  width: 100%;
}

.first-info_title {
  grid-area: title;
}

.main-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-text_button2{
  margin-top: auto;
  cursor: pointer;
}

.main-info {
  grid-area: main;
}
.title_br{

  display: none;
}
main{

  filter:blur(1px);

  height: 100%;
}
a:hover{

  opacity: 0.5
}
.move-menu__x:hover{
  opacity: 0.5
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(136, 135, 135, 0.8); 
  
  }
  .header-container{

    margin-bottom: 15px;
  }
}